* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*Makes font size base 10 for rem*/
}

body {
  align-items: center;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

#image__slider__container {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  background: rgb(162, 185, 172);
  justify-content: center;
  max-width: 100rem;
  position: relative;
  margin: auto;
  width: 75rem;
}

.slides {
  display: none;
}

#image__slider__container .slides img {
  animation-name: sliding;
  display: block;
  height: 50rem;
  position: relative;
  object-fit: cover;
  width: 100%;
}

#slider__heading {
  color: #333;
  font-size: 3rem;
}

/*Button styling*/
#button__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 1rem 0;
}

.slider__button {
  padding: 1rem 2rem;
  margin: 1rem 0 0 0;
}

.slider__button:hover {
  cursor: pointer;
}

.slider__button > i {
  color: #333;
  font-size: 3rem;
}

.slider__button > i:hover {
  color: cadetblue;
}

/*Sliding effect*/
div .sliding {
  animation-name: sliding;
  animation-duration: 1s;
}

@keyframes sliding {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*Mobile considerations*/

/*Screens that are 600px or less*/
@media only screen and (max-width: 600px) {
  #image__slider__container {
    height: 100vh;
  }

  #slider__heading {
    color: #333;
    font-size: 6rem;
  }

  #button__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 1rem 0;
  }

  /*Pull next icon to the right preventing overlap with left*/
  #next-button {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .slider__button > i {
    font-size: 4.5rem;
  }

  .slider__button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
}
