* {
  box-sizing: border-box
}

html {
  font-size: 62.5%;
  /*Makes font size base 10 for rem*/
}

body {
  align-items: center;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

#image__slider__container {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .15);
  background: rgb(230, 230, 214);
  max-width: 100rem;
  position: relative;
  margin: auto;
  width: 75rem;
}

.slides {
  display: none;
}

#image__slider__container .slides img {
  display: block;
  height: 50rem;
  position: relative;
  object-fit: cover;
  width: 100%;
}

#slider__heading {
  color: black;
}

/*Button styling*/
#button__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 1rem 0;
}

.slider__button {
  padding: 1rem 2rem;
  margin: 1rem 0 0 0;
}

.slider__button:hover {
  cursor: pointer;
}